.app-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  padding: 10px 20px;
}

.div1 {
  grid-area: 1 / 1 / 13 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 5;
}
.div3 {
  grid-area: 2 / 2 / 13 / 4;
}
.div4 {
  grid-area: 2 / 4 / 13 / 5;
}
